{% extends 'feedStockAnalist/base.html' %}

{% block content %}
<section class="container bg-secondary rounded p-2">
    <header class="row p-4">
        <h4 class="text-white col-xl-10">Últimas análises</h4>
        <button type="button" class="btn btn-light col-sm-2">
            Iniciar nova análise
        </button>
    </header>

    <article class="p-4">
        <p>{{ analysis_list }}</p>
        <table
            class="table-light table table-striped"
        >
            <thead class="text-dark">
                <tr>
                    <th>OP</th>
                    <th>Data da Análise</th>
                    <th>Quantidade de Itens</th>
                    <th>Itens com falta</th>
                    <th>Custo das Ações</th>
                    <th>Abrir</th>
                </tr>
            </thead>
            <tbody class='text-dark'>
                <tr>
                    <td scope="row">123</td>
                    <td>01/01/2020</td>
                    <td>207</td>
                    <td>14</td>
                    <td>R$ 15.706,053</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-primary"
                        >
                            Abrir
                        </button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">456</td>
                    <td>15/02/2020</td>
                    <td>34</td>
                    <td>3</td>
                    <td>R$ 542,35</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-primary"
                        >
                            Abrir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
{% endblock %}
