{% extends 'feedStockAnalist/base.html' %}

{% block content %}
<section class="container bg-secondary rounded p-2">
    <header class="row p-4">
        <h4 class="text-white col-xl-10">Últimas análises</h4>
        <a href="/new/" type="button" class="btn btn-light col-sm-2">
            Iniciar nova análise
        </a>
    </header>

    <article class="p-4">

        <table class="table-light table table-striped">
            <thead class="text-dark">
                <tr>
                    <th>OP</th>
                    <th>Data da Análise</th>
                    <th>Quantidade de Itens</th>
                    <th>Itens com falta</th>
                    <th>Custo das Ações</th>
                    <th>Abrir</th>
                </tr>
            </thead>
            <tbody class='text-dark'>
                {% for analyze in analysis_list %}
                <tr>
                    <td scope="row">{{ analyze.synthesis.production_orders_to_analyze_list }}</td>
                    <td>{{ analyze.created_at }}</td>
                    <td>{{ analyze.synthesis.feedstock_items_count }}</td>
                    <!-- TODO: Here load and parse analyze.report fields -->
                    <td>{{ analyze.synthesis.fault_feedstock_items_count }}</td>
                    <td>R$ 15.706,053</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            Abrir
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}
