{% extends 'feedStockAnalist/base.html' %} {% block content %}

<section
    class="container half-opacity rounded p-4 col-sm-4 center mx-auto my-auto row"
>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_production_orders_list" class="text-light">
                Ordens de produção para analisar:
            </label>
            <input
                type="text"
                name="production_orders_list"
                class="form-control"
                placeholder="Separar por vírgulas. E.g: (123, 456)"
                required
                id="id_production_orders_list"
            />
        </div>
        <input
            type="submit"
            value="Create new Analyze"
            class="btn btn-success"
        />
    </form>
</section>
{% endblock %}
