{% extends 'feedStockAnalist/base.html' %} {% block content %}

<section class="container half-opacity rounded p-4 col-sm-6 mx-auto my-auto row text-light text-center">

    <div class="container">
        <h6>Gerando nova análise para os itens de radar...</h6>
        <p>Sua solicitação será processada em segundo plano.</p>
        <img src="https://media3.giphy.com/media/pEhpnpkPlyP3q/giphy.gif?cid=790b7611a358db3efd259c88887f604583f386d217b6f0f2&rid=giphy.gif"
            alt="" class="loading-img" />
        <p class="pt-4">Você pode fechar essa página.</p>
        <p><strong>Iremos enviar um email quando a análise estiver pronta</strong></br>ou aguarde para ser redirecionado
            para o resultado da análise.</p>
    </div>
    </div>
</section>

{% endblock %}
