{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
<div class="row h-100 my-auto">
    <div class="container rounded bg-light py-4 my-auto mx-auto col-xl-8 text-center">
        <img src="{% static 'fsa/fSA_logo.svg' %}" alt="" class="" style="max-height: 30px;">
        <h4 class="text-center font-weight-lighter text-break">feedStockAnalist</h4>
        <h2 class="display-5">Cadastre-se</h2>
        <hr class="my-2">
        <form method="post" class="text-center w-50 mx-auto">
            {% csrf_token %}



            <div class="form-group text-left">
                <label for="id_username" class="font-weight-bold">Usuário:</label>
                <input type="text" class="form-control text-break form-control-sm" name="username" id="id_username"
                aria-describedby="Nome de Usuário" placeholder="Digite um nome de usuário..." required>
            </div>

            <div class="form-row">
                <div class="form-group col text-left">
                    <input type="text" class="form-control form-control-sm" name="first_name" id="id_first_name"
                    placeholder="Nome..." required>
                </div>

                <div class="form-group col text-left">
                    <input type="text" class="form-control form-control-sm " name="last_name" id="id_last_name"
                    placeholder="Sobrenome..." required>
                </div>
            </div>

            <div class="form-group text-left">
                <label for="id_email" class="font-weight-bold">Email:</label>
                <input type="email" class="form-control text-break form-control-sm" name="email" id="id_email"
                aria-describedby="Email" placeholder="Digite seu email." required>
            </div>

            <div class="form-row">
                <div class="form-group col text-left">
                    <label for="id_password1" class="font-weight-bold">Senha:</label>
                    <input type="password" class="form-control form-control-sm" name="password1" id="id_password1"
                        placeholder="Digite sua senha..." required>
                    <small id="Senha" class="form-text text-muted">
                        Mínimo 8 caracteres.</br> Deve conter <strong>Letras e Números</strong>.
                    </small>
                </div>

                <div class="form-group col text-left">
                    <label for="id_password2" class="font-weight-bold">Confirmação de Senha:</label>
                    <input type="password" class="form-control form-control-sm" name="password2" id="id_password2"
                    placeholder="Confirme sua senha..." required>

                    {% if form.password2.errors %}
                    <small id="errors" class="text-danger">
                        {{ form.password2.errors }}
                    </small>
                    {% endif %}
                </div>
            </div>

            <p class="lead">
                <button type="submit" class="btn btn-success btn-lg">Registrar</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
